---
const { title, description, icon, image } = Astro.props;
---

<div class="group flex flex-col items-start justify-end border border-gray-500 w-full lg:w-[24%] lg:max-w-[320px] hover:border-accent transition-all duration-500 ease-in-out hover:bg-gray-200 p-4 lg:p-6 lg:min-h-[270px] lg:hover:min-h-[320px]">
    <div class="flex flex-row lg:flex-col text-gray-300 w-full justify-start items-center gap-3 lg:gap-4">
        
        <!-- ICON WRAPPER (Shrinks to 0 height on hover) -->
        <div class="grid transition-all duration-500 ease-in-out grid-rows-[1fr] group-hover:grid-rows-[0fr] opacity-100 group-hover:opacity-0 w-auto">
            <div class="overflow-hidden flex justify-start lg:justify-center w-auto">
                <div class="w-6 h-6 lg:w-32 lg:h-32 mb-0 lg:mb-4 bg-gray-400 shrink-0" style={`mask-image: url('${icon}'); mask-size: contain; mask-repeat: no-repeat; mask-position: center; -webkit-mask-image: url('${icon}'); -webkit-mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center;`} aria-label="icon"></div>
            </div>
        </div>
        
        <h3 class="text-white-700 group-hover:text-black-700 text-sm lg:text-base font-semibold w-full text-left lg:text-center  transition-all duration-500 ">
            {title}
        </h3>
    </div>
    
    <div class="w-full flex flex-col justify-end overflow-hidden">
        <p class="text-gray-400 group-hover:text-gray-600 mt-2 text-xs lg:text-sm text-left w-full transition-colors duration-500 line-clamp-4 group-hover:line-clamp-none">
            {description}
        </p>

        <!-- IMAGE WRAPPER (Expands height on hover) -->
        <div class="grid transition-all duration-500 ease-in-out grid-rows-[0fr] group-hover:grid-rows-[1fr] opacity-0 group-hover:opacity-100 w-full">
            <div class="overflow-hidden flex justify-center w-full mt-0">
                <img src={image} alt="image" class="w-full h-24 lg:h-48 object-cover rounded mt-4">
            </div>
        </div>
    </div>
</div>
